.card-container{
    margin-top: 1.5em;
    height: fit-content;
}
.card{
    width: 40%;
    margin: 2em auto;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba($color: #000000, $alpha: 0.1);
    img{
        width: 100%;
        border-radius: 0.5em;
    }
    h4{
        margin: 1em auto;
        width: fit-content;
        padding: 0.5em;
        border-radius: 0.5em;
        background: $color-sec;
    }
}


.presentation{
    box-sizing: border-box;
    position: relative;
    border-radius: 1em;
    padding: 2em 1em;
    background: $color-pri;
    color: rgb(202, 202, 202);
    height: 100%;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.description{
    box-sizing: border-box;
    position: relative;
    height: 60%;
    padding: 1em 0;
    opacity: 0;
    z-index: -1;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.service-card{
    margin: 2em auto;
    border-radius: 1.5em;
    padding: 0.7em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba($color: #000000, $alpha: 0.1);
    background:  $color-pri;
    transition: all 0.4s ;
    &:hover{
        background: white;
        .presentation{
            height: 40%;
            background: $color-sec;
            color: black;
        }
        .description{
            z-index: 1;
            opacity: 1;
        }
    }
}