*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    @media #{$width-xsmall}{
        font-size: $font-size*0.7;
    }
    @media #{$width-small}{
        font-size: $font-size*0.8;
    }
    @media #{$width-medium}{
        font-size: $font-size*1;
    }
    @media #{$width-large}{
        font-size: $font-size*1.1;
    }
    @media #{$width-xlarge}{
        font-size: $font-size*1.5;
    }
    @media #{$width-xxlarge}{
        font-size: $font-size*3;
    }
    @media #{$width-retina}{
        font-size: $font-size*3;
    }
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.btn{
    margin-top: 1em;
    padding: 1.5vh 4%;
    border: 1px solid $color-pri;
    color: $color-pri;
    font-family: 'Poppins', sans-serif;
    transition: all 0.2s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $color-pri;
        z-index: -1;
        transition: all 0.2s;
      }
    &:hover{
        color: white;
        border: 1px solid white;
        &::after{
            width: 100%;
        }
    }
}
section{
    margin-top: 7em;
    padding: 0 1em;
    text-align: center;
    >p{
        margin: 2.5em;
    }
}
button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}