$color-pri : #1D1D1D;
$color-sec :  #F79BA8;
$main: #fece2f;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@font-face{
    font-family: cassannet;
    src: url(./cassannet.ttf);
}

$font-size: 1em;
//variables for scaling. bp = BreakPoint
$bp-xsmall: 480px;
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries, blob's Media Queries at bottom
$width-xsmall: "(min-width: #{$bp-xsmall})";
$width-small: "(min-width: #{$bp-small})";
$width-medium: "(min-width: #{$bp-medium})";
$width-large: "(min-width: #{$bp-large})";
$width-xlarge: "(min-width: #{$bp-xlarge})";
$width-xxlarge: "(min-width: #{$bp-xxlarge})";
$width-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

@import "./scss/header";
@import "./scss/general";
@import "./scss/about-us";

.client-container{
    padding: 0 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 2em;
    img{
        width: 200px;
    }
}

@media (max-width: 599px){
    nav{
        ul{
            display: none;
        }
        .burger{
            display: block;
        }
    }
    .container{
        width: 100%;
    }
    header img{
        display: none;
    }
    .card{
        width: 50%;
    }
    .service-card{
        width: 60%;
        margin-top: 2em;
        .presentation{
            height: 10em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
@media (min-width: 600px){
    .text-container{
        width: 40%;
    }
    .slanted{
        width: 70%;
        height: 60vh;
        clip-path: polygon(100% 1%, 0 100%, 100% 100%);
    }
    .slanted-back{
        width: 75%;
        height: 70vh;
        clip-path: polygon(100% 1%, 0 100%, 100% 100%);
    }
    .card-container{
        display: flex;
        justify-content: space-around;
    }
    .card, .service-card{
        width: 20%;
    }
}