@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@font-face {
  font-family: cassannet;
  src: url(./cassannet.ttf);
}
nav {
  width: 90%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 1em;
}
nav ul li:last-of-type {
  margin: 0;
}

.logo {
  font-family: "Potta One", cursive;
}

header {
  height: 100vh;
  -webkit-animation: fadeIn 1s ease;
          animation: fadeIn 1s ease;
}

.container {
  height: 90vh;
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
}
.container .text-container {
  width: 70%;
  margin: auto;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container .text-container button {
  margin-top: 1em;
}
.container img {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 0;
  height: 100vh;
  -webkit-animation: fadeIn 1.5s ease;
          animation: fadeIn 1.5s ease;
}

.slanted {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  z-index: -2;
  background: #1D1D1D;
}

.slanted-back {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20vh;
  z-index: -3;
  background: #F79BA8;
}

.burger {
  display: none;
  transition: transform 0.2s ease;
}

.bg-flip {
  transform: rotate(90deg);
}

.overlay {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 1s ease;
}

.overHiden {
  display: none;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
@media (min-width: 480px) {
  body {
    font-size: 0.7em;
  }
}
@media (min-width: 48em) {
  body {
    font-size: 0.8em;
  }
}
@media (min-width: 64em) {
  body {
    font-size: 1em;
  }
}
@media (min-width: 85.375em) {
  body {
    font-size: 1.1em;
  }
}
@media (min-width: 120em) {
  body {
    font-size: 1.5em;
  }
}
@media (min-width: 160em) {
  body {
    font-size: 3em;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    font-size: 3em;
  }
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.btn {
  margin-top: 1em;
  padding: 1.5vh 4%;
  border: 1px solid #1D1D1D;
  color: #1D1D1D;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1D1D1D;
  z-index: -1;
  transition: all 0.2s;
}
.btn:hover {
  color: white;
  border: 1px solid white;
}
.btn:hover::after {
  width: 100%;
}

section {
  margin-top: 7em;
  padding: 0 1em;
  text-align: center;
}
section > p {
  margin: 2.5em;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.card-container {
  margin-top: 1.5em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card {
  width: 40%;
  margin: 2em auto;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  border-radius: 0.5em;
}
.card h4 {
  margin: 1em auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  border-radius: 0.5em;
  background: #F79BA8;
}

.presentation {
  box-sizing: border-box;
  position: relative;
  border-radius: 1em;
  padding: 2em 1em;
  background: #1D1D1D;
  color: #cacaca;
  height: 100%;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description {
  box-sizing: border-box;
  position: relative;
  height: 60%;
  padding: 1em 0;
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.service-card {
  margin: 2em auto;
  border-radius: 1.5em;
  padding: 0.7em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  background: #1D1D1D;
  transition: all 0.4s;
}
.service-card:hover {
  background: white;
}
.service-card:hover .presentation {
  height: 40%;
  background: #F79BA8;
  color: black;
}
.service-card:hover .description {
  z-index: 1;
  opacity: 1;
}

footer {
  margin-top: 4em;
  padding: 2em 0;
  background: #1D1D1D;
}
footer a {
  color: #F79BA8;
  font-weight: bold;
}
footer .top-row {
  margin: 0 10%;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .top-row .link {
  margin-bottom: 2em;
}
footer .top-row .link:last-of-type {
  margin: 0;
}
footer .top-row ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .top-row ul li {
  margin-bottom: 1em;
}
footer .top-row ul li:last-of-type {
  margin: 0;
}
footer .bottom-row {
  color: #F79BA8;
  font-weight: bold;
}
footer .bottom-row ul {
  display: flex;
  justify-content: space-around;
}
footer .icon {
  font-size: 1.5em;
}

.fixed {
  padding: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 2vh;
  background: white;
}
.fixed::after {
  border-radius: 50%;
}

.client-container {
  padding: 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 2em;
  align-items: center;
}
.client-container .client-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-container .client-container img {
  width: 10em;
  height: 10em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 699px) {
  nav ul {
    display: none;
  }
  nav .burger {
    display: block;
  }

  .container {
    width: 100%;
  }

  header img {
    display: none;
  }

  .card {
    width: 60%;
  }

  .service-card {
    background: white;
    width: 60%;
    margin-top: 2em;
  }
  .service-card .presentation {
    height: 40%;
    background: #F79BA8;
    color: black;
  }
  .service-card .description {
    z-index: 1;
    opacity: 1;
  }
}
@media (min-width: 700px) {
  .text-container {
    width: 40%;
  }

  .slanted {
    width: 70%;
    height: 60vh;
    -webkit-clip-path: polygon(100% 1%, 0 100%, 100% 100%);
            clip-path: polygon(100% 1%, 0 100%, 100% 100%);
  }

  .slanted-back {
    width: 75%;
    height: 70vh;
    -webkit-clip-path: polygon(100% 1%, 0 100%, 100% 100%);
            clip-path: polygon(100% 1%, 0 100%, 100% 100%);
  }

  .card-container {
    display: flex;
    justify-content: space-around;
  }

  .card, .service-card {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */